<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title> SIGMA | Queries</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/mainimages/sigmlogo.jpeg" type="image/x-icon" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
</head>
<body sec:authorize="hasAnyAuthority('MEMBER')">

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><b>Hello, <b sec:authentication="principal.fullName"></b></b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/memberdashboard"><b>My Dashboard</b></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <b>Profile</b>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile" style="color: black;">My Profile</a></li>
                        <li><a class="dropdown-item" href="/uploadarticle" style="color: black;">Upload Article</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/studentqueries">Queries</a>
                </li>
            </ul>
            <form class="d-flex" name="logoutForm" th:hidden="true" method="post" th:action="@{/logged_out}">
                <input name="" class="btn btn-outline-danger" type="submit" value="Logout"></input>
            </form>
        </div>
    </div>
</nav>


<div>
    <br>
    <br>
</div>

<div>
    <br>
    <br>
</div>

<br>
<br>

<div class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3><b>Query List</b></h3>
            <hr>
        </div>
        <br>
        <br>
        <div th:if="${warning != null}" class="alert alert-danger text-center">[[${warning}]]</div>
        <div th:if="${message != null}" class="alert alert-success text-center">[[${message}]]</div>
        <br>
        <br>
        <div class="table-responsive">
            <table  class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Questions</th>
                    <th>Answers</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr class="" th:each="query: ${queries}">
                    <td style="color: black" th:text="${query.q_id}"></td>
                    <td style="color: black" th:text="${query.question}"></td>
                    <td style="color: black" th:text="${query.answer}"></td>
                    <td style="color: black"
                        th:style="${query.status} == 'Answered' ? 'color: green' : 'color: red'"
                        th:text="${query.status}"></td>
                    <td><a style="color: white" class="btn btn-warning btn-lg"
                           th:href="@{/query/{q_id}(q_id=${query.q_id})}"
                           th:text="${query.status} == 'Answered' ? 'Update' : 'Answer'">
                    </a></td>
                    <td><a style="color: white" class="btn btn-danger btn-lg"
                           th:href="@{/delete/{q_id}(q_id=${query.q_id})}">Delete
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-center">
                <p class="footer-company-name"><h1 style="color: bisque;"><b>Sigma Newsletter</b></h1></p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2020  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>


<a href="#" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script src="js/all.js"></script>
<script src="js/jquery.mobile.customized.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/parallaxie.js"></script>
<script src="js/headline.js"></script>
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
<script src="js/custom.js"></script>
<script src="js/jquery.vide.js"></script>
</body>
</html>

