<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SIGMA | Articles</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link type="text/css"  href="/style.css" rel="stylesheet">
    <link type="text/css"  rel="stylesheet" href="/css/responsive.css">
    <link type="text/css"  rel="stylesheet" href="/css/custom.css">
    <script type="text/css"  src="/js/modernizr.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><b>Sigma SIT</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles"><b>Articles</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/open_articles"><b>Contribute</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/editions"><b>Sigma Editions</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team"><b>Team</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="section-wb">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="section-title text-center">
            <h3><b>Articles</b></h3>
            <hr>
        </div>
    </div>

</div>

<div class="section-wb">
    <div class="container">

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="card h-100 col-md-12">
                <div class="section-title text-center">
                    <h3>Quantum Computing</h3>
                    <h2>Akash Ranjan Das</h2>
                    <h4>1SI18CS008</h4>
                </div>
                <p style="color: black;">
                    Sigma is the newsletter of Computer Science and Engineering Department. It was started in the year of 2001. Team sigma was created to provide the students with updates and information about the latest trends and technology in the domain of computer science.Sigma currently consists of 24 members. The basic idea to form this group was to incorporate any upcoming or latest technology at one place and make the students aware of all information and technology which is worth knowing for any student of a computer science background.
                    Sigma team also conducts fun and interactive events for students for all years and all branches. It conducts a technical article writing contest for the students each year ,from which three write ups will be selected and published in the edition and will be awarded with cash prizes.
                </p>
                <p style="color: black;">
                    Sigma is the newsletter of Computer Science and Engineering Department. It was started in the year of 2001. Team sigma was created to provide the students with updates and information about the latest trends and technology in the domain of computer science.Sigma currently consists of 24 members. The basic idea to form this group was to incorporate any upcoming or latest technology at one place and make the students aware of all information and technology which is worth knowing for any student of a computer science background.
                    Sigma team also conducts fun and interactive events for students for all years and all branches. It conducts a technical article writing contest for the students each year ,from which three write ups will be selected and published in the edition and will be awarded with cash prizes.
                </p>

                <p style="color: black;">
                    Sigma is the newsletter of Computer Science and Engineering Department. It was started in the year of 2001. Team sigma was created to provide the students with updates and information about the latest trends and technology in the domain of computer science.Sigma currently consists of 24 members. The basic idea to form this group was to incorporate any upcoming or latest technology at one place and make the students aware of all information and technology which is worth knowing for any student of a computer science background.
                    Sigma team also conducts fun and interactive events for students for all years and all branches. It conducts a technical article writing contest for the students each year ,from which three write ups will be selected and published in the edition and will be awarded with cash prizes.
                </p>

                <p style="color: black;">
                    Sigma is the newsletter of Computer Science and Engineering Department. It was started in the year of 2001. Team sigma was created to provide the students with updates and information about the latest trends and technology in the domain of computer science.Sigma currently consists of 24 members. The basic idea to form this group was to incorporate any upcoming or latest technology at one place and make the students aware of all information and technology which is worth knowing for any student of a computer science background.
                    Sigma team also conducts fun and interactive events for students for all years and all branches. It conducts a technical article writing contest for the students each year ,from which three write ups will be selected and published in the edition and will be awarded with cash prizes.
                </p>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>

<div class="section-wb">
    <div class="container">
        <div class="section-title text-center">
            <br>
            <br>

        </div>
    </div>
</div>

<div>
    <br>
    <br>
</div>

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="" alt="" /></a>
            <div class="footer-center">
                <p class="footer-company-name"><h1 style="color: bisque;"><b>Sigma Newsletter</b></h1></p>
                <p class="footer-links">
                    <a href="/">Home</a>
                    <a href="/register">Articles</a>
                    <a href="/register">Contribute</a>
                    <a href="/register">Editions</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2020  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/all.js"></script>
<script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/parallaxie.js"></script>
<script type="text/javascript" src="/js/headline.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="/js/contact_me.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/jquery.vide.js"></script>
</body>
</html>