<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SIGMA | Recruitments</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="shortcut icon" href="/mainimages/sigmlogo.jpeg" type="image/x-icon" >
    <link type="text/css"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link type="text/css"  href="/style.css" rel="stylesheet">
    <link type="text/css"  rel="stylesheet" href="/css/responsive.css">
    <link type="text/css"  rel="stylesheet" href="/css/custom.css">
    <script type="text/css"  src="/js/modernizr.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="img-fluid" src="/mainimages/sigmlogo.png" alt="" />&emsp;<b>Sigma SIT</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles"><b>Articles</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/open_article"><b>Contribute</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/editions"><b>Sigma Editions</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team"><b>Team</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recruitments">Recruitments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/queries"><b>Queries</b></a>
                </li>
            </ul>
            <form class="d-flex" name="logoutForm" th:hidden="true" method="get" th:action="@{/login}">
                <button name="" class="btn btn-success" style="color: white" type="submit"><b>Member Login</b></button>
            </form>
        </div>
    </div>
</nav>


<div class="section-wb">
    <div class="container">
        <div class="section-title text-center">
            <br>
        </div>
    </div>
</div>


<!--<div class="section wb">-->
<!--    <div class="container">-->
<!--        <div class="section-title text-center">-->
<!--            <h3><b>Sigma Recruitment Drive 2021</b></h3>-->
<!--            <hr>-->
<!--        </div>-->
<!--        <div class="row g-3" style="justify-content: center;">-->
<!--            <div class="col-md-4" style="text-align: center;">-->
<!--                <div class="card h-100 border-warning">-->
<!--                    <div class="card-body">-->
<!--                        <h2 class="card-title"><b>First Years</b></h2>-->
<!--                        <h4 class="card-text">4th June, 2021</h4>-->
<!--                        <a href="https://new.edmodo.com/joincg/ui6hp4" class="btn btn-warning"-->
<!--                           style="color: white;"><b>Go To-->
<!--                            Edmodo</b></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4" style="text-align: center;">-->
<!--                <div class="card h-100 border-info">-->
<!--                    <div class="card-body">-->
<!--                        <h2 class="card-title"><b>Second Years</b></h2>-->
<!--                        <h4 class="card-text">4th June, 2021</h4>-->
<!--                        <a href="https://new.edmodo.com/joincg/dcqg8m" class="btn btn-primary"-->
<!--                           style="color: white;"><b>Go To Edmodo</b></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-12" style="text-align: start;">-->
<!--                <div>-->
<!--                    <br>-->
<!--                    <br>-->
<!--                    <h1><b>Rules & Regulations</b></h1>-->
<!--                </div>-->
<!--                <p style="color: black;">-->
<!--                <ul style="color: #414141;">-->
<!--                    <li>-->
<!--                        Sign Up as a student to Edmodo account. If you already have an account then login before-->
<!--                        starting the test.-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        Ensure that the details provided at the time of login/signup are correct.-->
<!--                    </li>-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                        If you already have an Edmodo account then log in with the same mail id given at the time of registration.&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                        If you are not signed up as a student to Sigma's Edmodo portal then your registrations will&ndash;&gt;-->
<!--&lt;!&ndash;                        not be considered and you will be disqualified for the further recruitment process of Sigma.&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                    <li>-->
<!--                        A background panel will be monitoring the test continuously to detect any kinds of malpractice.-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        If you are facing any difficulties in taking the test, reach out to our technical help desk.-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        Please be seated at your respective desk 10 minutes prior to the test, so that any issues can-->
<!--                        be solved by our technical help desk.-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        Please make sure that you should save enough internet data to give the test. No such excuses-->
<!--                        will be entertained during the test.-->
<!--                    </li>-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                        The shortlisted candidates will be announced on the same day along with their interview links&ndash;&gt;-->
<!--&lt;!&ndash;                        in the same web page.&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                </ul>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="section wb">-->
<!--    <div class="container">-->
<!--        <div class="section-title text-center">-->
<!--            <img src="/mainimages/recruit.png" class="img-fluid" alt="">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="section wb">-->
<!--    <div class="container">-->
<!--        <div class="section-title text-center">-->
<!--            <h3><b>Recruitments Drive is over. See you in the next drive.</b></h3>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="section wb">-->
<!--    <div class="container">-->
<!--        <div class="section-title text-center">-->
<!--            <br>-->
<!--            <br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="container">
    <div class="section-title text-center">
        <br>
        <h3><b>Sigma Recruitments 2022</b></h3>
        <hr>
    </div>
    <p><b>Rules and Regulations</b>
    <ul style="color: #414141;">
        <li>
            Register with your college email ID or mail id with usn.
        </li>
        <li>
            All the fields are mandatory. Don't provide wrong details.
        </li>
        <li>
            If you are facing any kinds of errors during registration, mail your details based on the form to <a href="mailto: sigmacse2001.sit@gmail.com">sigmacse2001.sit@gmail.com</a>.
        </li>
        <li>
            After registration please join the WhatsApp group provided on the success page and check mails frequently to receive further instructions.
        </li>
        <li>
            Visit <a href="https://sigmacse.herokuapp.com/">sigmacse.herokuapp.com</a> to know about us.
        </li>
    </ul>
    </p>
    <!--        <hr>-->
    <!--        <p>-->
    <!--            <b style="font-size: large">Download Resume Format: </b>-->
    <!--            <a href="https://drive.google.com/drive/folders/1FYEPkgREPPBP69wU7b2hkBBcd8jtLQxc?usp=sharing">-->
    <!--                <b>Click Here</b>-->
    <!--            </a>-->
    <!--        </p>-->
    <hr>
    <form class="form-group text-center" th:action="@{/recruitments/registered}" th:object="${user}" method="post" enctype="multipart/form-data">
        <div th:if="${warning != null}" class="alert alert-danger text-center">[[${warning}]]</div>
        <div th:if="${message != null}" class="alert alert-success text-center">[[${message}]]</div>
        <div class="row g-3" style="justify-content: center;">
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="First name" type="text" id="firstName" class="form-control" th:field="*{firstName}" required>
                    <label for="firstName">First name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="Last name" type="text" id="lastName" class="form-control" th:field="*{lastName}" required>
                    <label for="lastName">Last name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <select class="form-control" style="height: 54px" th:field="*{year}">
                        <option value="0">--Select--</option>
                        <option value="1st Year"> 1st Year </option>
                        <option value="2nd Year"> 2nd Year </option>
                        <label>Year</label>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="USN" type="text" id="usn" class="form-control" th:field="*{usn}" required>
                    <label for="usn">USN</label>
                </div>
            </div>
            <!--                <div class="col-md-6">-->
            <!--                    <div class="form-group">-->
            <!--                        <label class="form-label" for="dob">Date of Birth (Password for future use)</label>-->
            <!--                        <input type="date" id="dob" class="form-control" th:field="*{dob}" required>-->
            <!--                    </div>-->
            <!--                </div>-->
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="Email" type="email" id="email" class="form-control" th:field="*{email}" required>
                    <label for="email">Email</label>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="Contact" type="tel" id="tel" class="form-control" th:field="*{contact}" required>
                    <label for="tel">Contact</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="Github ID (If you don't have, create one and paste your profile url here.)" type="url" id="github" class="form-control" th:field="*{github}" required>
                    <label for="github">Github ID (If you don't have, create one and paste your profile url here.)</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="LinkedIn ID (If you don't have, create one and paste your profile url here.)" type="url" id="linkedin" class="form-control" th:field="*{linkedin}" required>
                    <label for="linkedin">LinkedIn ID (If you don't have, create one and paste your profile url here.)</label>
                </div>
            </div>
<!--            <div class="col-md-6">-->
<!--                <div class="form-floating">-->
<!--                    <input placeholder="HackerRank ID (If you don't have, create one and paste your profile url here.)" type="text" id="hackerrank" class="form-control" th:field="*{hackerrank}" required>-->
<!--                    <label for="hackerrank">HackerRank ID (If you don't have, create one and paste your profile url here.)</label>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--                <div class="form-floating">-->
<!--                    <label for="leetcode">LeetCode ID (If you don't have, create one and paste your profile url here.)</label>-->
<!--                    <input placeholder="LeetCode ID (If you don't have, create one and paste your profile url here.)" type="text" id="leetcode" class="form-control" th:field="*{leetcode}" required>-->
<!--                </div>-->
<!--            </div>-->

            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="Programming Languages Learned" type="text" id="language" class="form-control" th:field="*{pLanguage}" required>
                    <label for="language">Programming Languages Learned</label>
                </div>
            </div>
<!--            <div class="col-md-6">-->
<!--                <div class="form-floating">-->
<!--                    <input placeholder="Number of Projects Done" type="number" id="projects" class="form-control" th:field="*{projects}" required>-->
<!--                    <label for="projects">Number of Projects Done</label>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="Member of Any Other Clubs (Mention the names)" type="text" id="groups" class="form-control" th:field="*{groups}" required>
                    <label for="groups">Member of Any Other Clubs (Mention the names)</label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                    <textarea placeholder="Why do you want to join this group?" maxlength="10000" cols="1000" style="resize: none; height: 300px;" type="text-a" id="why" class="form-control" th:field="*{why}" required></textarea>
                    <label for="why">Why do you want to join this group?</label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                    <textarea placeholder="Why do we hire you?" maxlength="10000" cols="1000" style="resize: none; height: 300px;" type="text-a" id="whys" class="form-control" th:field="*{whys}" required></textarea>
                    <label for="whys">Why do we hire you?</label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                    <textarea placeholder="What do you know about Sigma?" maxlength="10000" cols="1000" style="resize: none; height: 300px;" type="text-a" id="about" class="form-control" th:field="*{about}" required></textarea>
                    <label for="about">What do you know about Sigma?</label>
                </div>
            </div>


            <!--                <div class="col-md-12">-->
            <!--                    <div class="form-group">-->
            <!--                        <label class="form-label" for="file">Upload Resume (PDF only and Max File Size: 1MB)</label>-->
            <!--                        <input type="file" name="File" id="file" accept="application/pdf" class="form-control-file" required>-->
            <!--                    </div>-->
            <!--                </div>-->
        </div>
        <!--            <div class="col-lg-12">-->
        <!--                <input type="checkbox" id="check" name="checked" value="check">-->
        <!--                <label for="check">I hereby declare that the information given by me is correct.</label><br><br>-->
        <!--            </div>-->
        <div class="col-lg-12 text-center">
            <br>
            <button type="submit" class="btn btn-success hvr-bounce-to-top btn-lg"
                    value="Register"><b>Register</b>
            </button>
            <button type="reset" class="btn btn-warning hvr-bounce-to-top btn-lg" value="Clear"><b>Clear</b>
            </button>
        </div>
        <br>
        <br>
        <br>
    </form>
</div>

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-center">
                <p class="footer-company-name"><h1 style="color: bisque;"><b>Sigma Newsletter</b></h1></p>
                <p class="footer-links">
                    <a href="/">Home</a>
                    <a href="/articles">Articles</a>
                    <a href="/editions">Editions</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2020  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/all.js"></script>
<script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/parallaxie.js"></script>
<script type="text/javascript" src="/js/headline.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="/js/contact_me.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/jquery.vide.js"></script>
</body>
</html>