<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title> SIGMA | Member</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/mainimages/sigmlogo.jpeg" type="image/x-icon" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
</head>
<body sec:authorize="hasAnyAuthority('MEMBER')">

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><b>Hello, <b sec:authentication="principal.fullName"></b></b></a>
        <form class="d-flex" name="logoutForm" th:hidden="true" method="post" th:action="@{/logged_out}">
                <input name="" class="btn btn-outline-danger" type="submit" value="Logout"></input>
            </form>
        </div>
    </div>
</nav>

<br>
<br>

<div>
    <br>
    <br>
</div>

<div>
    <br>
    <br>
</div>

<div class="container">
    <br>
    <br>
    <div class="section-title text-center">
        <h3><b style="font-size: 4vw;">Member Profile</b></h3>
        <hr style="color: black;">
    </div>

    <div class="row" th:each="member: ${members}" style="text-align: center">

        <div class="col-md-12">
            <img th:src="@{${member.image_url}}" style="max-width: 160px; max-height: 195px;"
                 class=" img-thumbnail card-img-top h-100" alt="...">
        </div>
        <br>
        <br>
        <div class="col-md-12">
            <h3 style="color: black" th:text="'Name: ' + ${member.firstname} + ' ' + ${member.lastname}"></h3>
        </div>
        <div class="col-md-12">
            <h3 style="color: black" th:text="'Year: ' + ${member.year}"></h3>
        </div>
        <div  class="col-md-12">
            <h3 style="color: black" th:text="'USN: ' + ${member.usn}"></h3>
        </div>
        <div  class="col-md-12">
            <h3 style="color: black" th:text="'Email: ' + ${member.email}"></h3>
        </div>
        <div class="col-md-12">
            <h3 style="color: black" th:text="'Sigma Designation: ' + ${member.designation}"></h3>
        </div>
        <div class="col-md-12">
            <h3 style="color: black" th:text="'Member Tier: ' + ${member.tier}"></h3>
        </div>
        <div class="col-md-12">
            <h3 style="color: black" th:text="'Linkedin: ' + ${member.linkedin_url}"></h3>
        </div>
        <div class="col-md-12">
            <h3 style="color: black" th:text="'Github: ' + ${member.github_url}"></h3>
        </div>
        <div class="col-md-12">
            <a class="btn btn-primary hvr-bounce-to-top btn-lg"
               th:href="@{/account/{member_id}(member_id=${member.member_id})}"
               style="color: whitesmoke;"><b>Update Profile</b></a>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="section-title text-center">
        <h3><b style="font-size: 4vw;">Sigma Member Articles Upload</b></h3>
        <hr style="color: black;">
    </div>

    <form class="form-group text-center" method="post"
          th:action="@{/uploaded}"
          th:object="${memberArticle}">
        <div th:if="${warning1 != null}" class="alert alert-danger text-center">[[${warning1}]]</div>
        <div th:if="${message1 != null}" class="alert alert-success text-center">[[${message1}]]</div>
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="First Name" id="firstname" class="form-control" th:field="*{firstname}"
                           required>
                    <label for="firstname">First Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="Last Name" id="lastname" class="form-control" th:field="*{lastname}"
                           required>
                    <label for="lastname">Last Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="USN" id="usn" class="form-control" th:field="*{usn}" required>
                    <label for="usn">USN</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input placeholder="Semester" id="semester" class="form-control" th:field="*{semester}" required>
                    <label for="semester">Semester</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <input placeholder="Title" id="branch" class="form-control" th:field="*{title}"
                           required>
                    <label for="branch">Title</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                        <textarea minlength="200" maxlength="500" style="resize: none; height: 200px;" rows="6"
                                  cols="50" name="introduction"
                                  placeholder="Introduction (Length in range from 200 to 500)"
                                  id="introduction" class="form-control" required></textarea>
                    <label for="introduction">Introduction (Length in range from 200 to 500)</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <textarea minlength="500" maxlength="1500" style="resize: none; height: 500px;" rows="6" cols="50" name="body1" placeholder="Body1" id="body1" class="form-control" required></textarea>
                    <label for="body1">Body1 (Length in range from 500 to 1500)</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <textarea minlength="500" maxlength="1500" style="resize: none; height: 500px;" rows="6" cols="50" name="body2" placeholder="Body2" id="body2" class="form-control"></textarea>
                    <label for="body2">Body2 (Length in range from 500 to 1500) (Optional, if only exceeds one paragraph) </label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <textarea minlength="200" maxlength="500" style="resize: none; height: 200px;" rows="6" cols="50" name="conclusion" placeholder="Conclusion" id="conclusion" class="form-control" required></textarea>
                    <label for="conclusion">Conclusion (Length in range from 200 to 500)</label>
                </div>
            </div>
            <div class="col-md-12 text-center" th:if="${#fields.hasErrors('global')}">
                <b><p style="color: red" th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" /></b>
            </div>
            <div class="col-md-12">
                <br>
                <button type="submit" class="btn btn-success hvr-bounce-to-top btn-lg"
                        value="Sign Up"><b>Submit Your Article</b></button>
                <br>
            </div>
        </div>
    </form>
    <br>
</div>

<br>
<br>

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="" alt="" /></a>
            <div class="footer-center">
                <p class="footer-company-name"><h1 style="color: bisque;"><b>Sigma Newsletter</b></h1></p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2020  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>


<a href="#" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script src="js/all.js"></script>
<script src="js/jquery.mobile.customized.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/parallaxie.js"></script>
<script src="js/headline.js"></script>
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
<script src="js/custom.js"></script>
<script src="js/jquery.vide.js"></script>
</body>
</html>

